@using Microsoft.AspNetCore.Http;
da@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>

    <h3>Dashboard Page</h3>
    Welcome @Context.Session.GetString("email")
    <br>
    <a asp-controller="account" asp-action="logout">Logout</a>

</body>
</html>