@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
    <div class="container">
        <h2>Privacy Policy</h2>
        <p>
            In our privacy policy, we explain how we collect and use your personal information when you travel with us, visit our website, use our mobile app or otherwise interact with us. Please make sure you read the policy carefully.
        </p>
        <h2>About this Privacy Policy</h2>
        <p>
            This privacy policy applies to all personal data FD processes when you, as a customer, use our websites or mobile apps or contact us. We process your personal data primarily to process your booking, handle your travel and purchases, and answer your questions. We also use your data to provide you with offers tailored to your interests and preferences.
        </p>
    </div>
</body>
