@model Airline.Models.FlightViewModel

@{
    ViewData["Title"] = "reation";
}

<h1>reation</h1>

<h4>FlightViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="reation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="flightId" class="control-label"></label>
                <input asp-for="flightId" class="form-control" />
                <span asp-validation-for="flightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aircraftType" class="control-label"></label>
                <input asp-for="aircraftType" class="form-control" />
                <span asp-validation-for="aircraftType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departureCountry" class="control-label"></label>
                <input asp-for="departureCountry" class="form-control" />
                <span asp-validation-for="departureCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="arrivalCountry" class="control-label"></label>
                <input asp-for="arrivalCountry" class="form-control" />
                <span asp-validation-for="arrivalCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departureDate" class="control-label"></label>
                <input asp-for="departureDate" class="form-control" />
                <span asp-validation-for="departureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="arrivalDate" class="control-label"></label>
                <input asp-for="arrivalDate" class="form-control" />
                <span asp-validation-for="arrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="flightStatus" /> @Html.DisplayNameFor(model => model.flightStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
